#wrapper {
    display: flex;
    flex-direction: column;
}

#timeWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#timeWrapper input {
    font-size: clamp(2.5rem, min(15vw, 20vh), 12rem);
    text-align: center;
    color: white;
    line-height: 80%;
    background-color: #303030;
    outline: none;
    border: none;
    width: 2ch;
    transition: 300ms backgroundColor;
    border-radius: 0.1em;
}

#timeWrapper input:focus {
    outline: none;
}

#timeWrapper input::selection {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

input.enabled {
    background-color: #333333 !important;
}

.\:after::after {
    content: ':';
}

.\;after::after {
    content: ';';
}

.\;after::after,
.\:after::after,
#dummyWrapper {
    color: white;
    font-size: clamp(2.5rem, min(20vw, 30vh), 12rem);
}

#fps {
    color: white;
    text-align: center;
    opacity: 75%;
    font-weight: 100;
    font-size: clamp(1rem, min(3vw, 3vh), 2.5rem);
}