@font-face {
  font-family: 'Roboto Flex';
  src: url('./assets/fonts/RobotoFlex.ttf') format('truetype');
}

* {
  font-family: "Roboto Flex";
}

html {
  height: 100%;
}

body {
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  gap: clamp(1em, 3vw, 3em);
}